@media(max-width: 768px){
  main{
    padding: min(8rem, 6vw) min(5rem, 4vw);
  }
  .homepageContentContainer{
    display: flex;
    flex-direction: column;
    gap: max(1rem, 1vw);

    padding: min(5rem, 3vw) 0;
  }

  /* homepageWeb3OverviewSection styling */
  .homepageWeb3OverviewSection{
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  .web3ArticleContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  h1{
    font-size: max(2.7rem, 6.5vw);
  }
  .web3SummaryText{
    font-size: max(15px, 2.5vw);
    line-height: max(1.5rem, 4vw);
  }
  .web3ReadMoreBtn{
    font-size: max(0.75rem, 2vw);
    padding: max(0.85rem, 2vw) max(2rem, 6vw);
  }

  /* homepageNewSection styling */
  .homepageNewSection{
    display: flex;
    flex-direction: column;
    gap: min(7vw, 2.5rem);

    padding: min(5vw, 1.75rem);
    margin-top: min(10vw, 2rem);
  }
  h2{
    font-size: min(8vw, 2.5rem);
  }
  .newSectionArticleWrapper{
    gap: min(5vw, 2.5rem);
  }
  .homepageNewArticleContainer{
    gap: min(5vw, 1rem);
  }
  .newArticleHeading{
    font-size: min(5vw, 1.5rem);
  }
  .newArticleDesc{
    font-size: min(4vw, 1.25rem);
  }

  /* homepageTopArticlesSection styling */
  .homepageTopArticlesSection{
    display: flex;
    padding: min(8vw, 2rem) 0;

    flex-direction: column;
    gap: min(8vw, 2.25rem);
  }
  .web3TopArticleContainer{
    grid-template-columns: 25vw 1fr;
    gap: min(8vw, 1.25rem);
  }
  .topArticleContentContainer{
    display: grid;
    grid-template-rows: 0.75fr min-content 1fr;
  }
  .topArticleRank{
    font-size: max(5.25vw, 2rem);
  }
  .topArticleHeading{
    width: fit-content;

    display: flex;
    align-items: center;

    font-size: max(3.75vw, 1.15rem);
  }
  .topArticleDesc{
    display: flex;
    align-items: flex-end;

    line-height: 1.75rem;
    font-size: max(4.25vw, 17px);
  }
}
@media(min-width: 769px) and (max-width: 950px){
  main{
    padding: max(3rem, 5vw) max(5rem, 8vw);
  }
  .homepageContentContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr 0.55fr 0.35fr;
    gap: 2vw;
  }
  .homepageArtDesignContainer{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  /* homepageWeb3OverviewSection styling */
  .homepageWeb3OverviewSection{
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
  }
  h1{
    font-size: max(2.5rem, 5.75vw);
    display: flex;
    align-items: center;
  }
  .web3ArticleContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }
  .web3SummaryText{
    font-size: max(0.85rem, 1.25vw);
    line-height: 3vw;
  }
  .web3ReadMoreBtn{
    font-size: max(0.5rem, 1.25vw);
    padding: max(0.5rem, 1.5vw) max(1.25rem, 2.5vw);
  }

  /* homepageNewSection styling */
  .homepageNewSection{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    padding: min(3vw, 1.25rem);

    display: grid;
    grid-template-rows: 8vw 1fr;
  }
  h2{
    font-size: min(4.5vw, 2.75rem);

    display: flex;
    align-items: center;
  }
  .newSectionArticleWrapper{
    align-self: center;
    gap: min(3vw, 2rem);
  }
  .homepageNewArticleContainer{
    gap: min(3.5vw, 0.75rem);
  }
  .newArticleHeading{
    font-size: min(2.5vw, 1.35rem);
  }
  .newArticleDesc{
    font-size: min(2.5vw, 1.1rem);
  }

  /* homepageTopArticlesSection styling */
  .homepageTopArticlesSection{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: min(8vw, 2rem) 0;

    gap: 2vw;
  }
  .web3TopArticleContainer{
    grid-template-columns: min(10vw, 7rem) 1fr;
    gap: min(3vw, 0.75rem);
  }
  .topArticleContentContainer{
    display: grid;
    grid-template-rows: 0.75fr min-content 1fr;
  }
  .topArticleRank{
    font-size: min(2.75vw, 2rem);
  }
  .topArticleHeading{
    width: fit-content;

    display: flex;
    align-items: center;

    font-size: max(1.5vw, 0.75rem);
  }
  .topArticleDesc{
    display: flex;
    align-items: center;

    line-height: max(1.5vw, 0.65rem);
    font-size: max(0.65rem, 1.25vw);
  }
}
@media(min-width: 951px){
  main{
    padding: max(3rem, 5vw) max(5rem, 8vw);
  }
  .homepageContentContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.65fr 0.8fr 0.7fr;
    gap: 2vw;
  }
  .homepageArtDesignContainer{
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    align-items: flex-start;
    overflow: hidden;
  }
  img{
    height: 100%;
    object-fit: cover;
  }
  .homepageWeb3OverviewSection{
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
  }
  .web3ArticleContainer{
    gap: 2rem;
  }
  h1{
    font-size: max(3.5rem, 4.5vw);
    display: flex;
    align-items: center;
  }
  .web3SummaryText{
    font-size: max(1.1rem, 1.2vw);
    line-height: max(2rem, 2vw);
  }
  .web3ReadMoreBtn{
    font-size: max(1rem, 1vw);
    padding: max(0.5rem, 0.95vw) max(1.25rem, 2.25vw)
  }

  /* homepageNewSection styling */
  .homepageNewSection{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    padding: max(1.75vw, 1.5rem);

    display: grid;
    grid-template-rows: 5vw 1fr;
  }
  h2{
    font-size: max(3.25vw, 2.75rem);

    display: flex;
    align-items: center;
  }
  .newSectionArticleWrapper{
    align-self: center;
    gap: max(2.5vw, 2rem);
  }
  .homepageNewArticleContainer{
    gap: min(3.75vw, 0.75rem);
  }
  .newArticleHeading{
    font-size: max(1.5vw, 1.35rem);
  }
  .newArticleDesc{
    font-size: max(1.2vw, 0.85rem);
    line-height: max(2vw, 1.5rem);
  }

    /* homepageTopArticlesSection styling */
  .homepageTopArticlesSection{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: min(8vw, 2rem) 0;

    gap: 2vw;
  }
  .web3TopArticleContainer{
    grid-template-columns: max(10vw, 8rem) 1fr;
    gap: 2vw;
  }
  .topArticleContentContainer{
    display: grid;
    grid-template-rows: 0.75fr min-content 1fr;
  }
  .topArticleRank{
    font-size: max(2.5vw, 1.85rem);
  }
  .topArticleHeading{
    width: fit-content;

    display: flex;
    align-items: center;

    font-size: 1.4vw;
  }
  .topArticleDesc{
    display: flex;
    align-items: center;

    line-height: max(2vw, 0.65rem);
    font-size: 1.05vw;
  }
}

main{
  min-height: 100svh;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2vw;

  position: relative;
}

/* web3ArtDesignContainer styling*/
.homepageArtDesignContainer{
  display: flex;
}

/* web3OverviewContainer styling */
h1{
  color: var(--very-dark-blue);
  font-weight: 800;
  line-height: max(2.75rem, 4.5vw);
}
.web3ArticleContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.web3SummaryText{
  color: var(--dark-grayish-blue);
}
.web3ReadMoreBtn{
  background-color: var(--soft-red);
  border: none;

  font-weight: 700;
  letter-spacing: 0.2rem;

  cursor: pointer;
  transition: color 0.15s ease, background-color 0.15s ease;
}

/* web3NewSectionContainer styling */
.homepageNewSection{
  background-color: var(--very-dark-blue);
  width: 100%;
}
.newSectionArticleWrapper{
  display: flex;
  flex-direction: column;
}
.homepageNewArticleContainer{
  display: flex;
  flex-direction: column;
}
h2{
  color: var(--soft-orange);
}
.homepageNewSection hr{
  border-color: var(--dark-grayish-blue);
}
.newArticleHeading{
  width: fit-content;

  color: var(--off-white);
  font-weight: 700;

  transition: color 0.15s ease;
  cursor: pointer;
}
.newArticleDesc{
  color: var(--dark-grayish-blue);
}

/* web3TopArticlesSectionContainer styling */
.web3TopArticleContainer{
  display: grid;
}
.topArticleImgContainer{
  overflow: hidden;
}
.topArticleImg{
  height: 100%;

  object-fit: cover;
}
.topArticleRank{
  color: var(--soft-red);
  font-weight: 800;
}
.topArticleHeading{
  color: var(--very-dark-blue);
  font-weight: 800;
  cursor: pointer;
  transition: color 0.15s ease;
}
.topArticleDesc{
  color: var(--dark-grayish-blue);
}