@media(max-width: 768px){
  .hamburgerMenuIconContainer{
    width: 40px;
    height: 17px;
  }
  nav{
    position: absolute;
    right: 0;
    left: 100%;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6vw;

    background-color: var(--off-white);

    overflow: hidden;
    transition: all 0.35s ease;
  }
  .closingMenuIconContainer{
    align-self: flex-end;
    margin: 7vw;

    width: 32px;
    height: 31px;
  }
  nav ul{
    flex-direction: column; 
    align-items: flex-start;
    padding: 3vw 5vw;
  }
  nav li{
    padding: 5.5vw 0;
  }
  nav a{
    font-size: 4.75vw;
    cursor: pointer;
  }
}
@media(min-width: 769px){
  .closingMenuIconContainer{
    display: none;
  }
  .hamburgerMenuIconContainer{
    display: none;
  }
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul{
    align-items: center;
  }
  nav a{
    padding: 0 0.75rem;
    font-size: max(1rem, 1.25vw);
  }
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoContainer{
  width: 65px;
  height: 40px;
}
nav{
  z-index: 2;
}
nav ul{
  width: 100%;
  list-style: none; /* Remove the default list styling i.e. dot-point */
  
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
nav li{
  height: 40px;

  display: flex;
  align-items: center;
}
nav a{
  height: 100%;
    
  display: flex;
  align-items: center;

  text-decoration: none;
  color: var(--very-dark-blue);
  transition: color 0.15s ease;
}

.navbarblur{
  transition: all 0.35s ease;
}
.navbarblur.active{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: brightness(50%);
}